{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    {% block base_head %}
      <title>GeekSurvey</title>
      <link rel="shortcut icon" href="{% static 'gkslogo.png' %}" type="image/x-icon">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock %}

    {% block extra_head %}
    {% endblock %}
  </head>

  <body class="d-flex flex-column min-vh-100">
    {% block body %}
      <!--
          Elements of the following code are derived from the Start Bootstrap - Business Frontpage v.5.0.7 Template.
          The template is licensed under MIT and can be found at https://github.com/StartBootstrap/startbootstrap-business-frontpage/blob/master/LICENSE.
      -->
      <!-- Responsive Navigation Bar -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container px-5">
              <img src="{% static 'gkslogo.png' %}" width="50px" height="50px">
              <a class="navbar-brand" href="{% url 'home' %}">GeekSurvey</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                      <li class="nav-item"><a class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}" href="{% url 'home' %}">Home</a></li>
                      <li class="nav-item"><a class="nav-link {% if request.resolver_match.url_name == 'profile' %}active{% endif %}" href="{% url 'profile_update' %}">
                        {% if user.is_authenticated %}
                          @{{ user.username }}
                        {% else %}
                          Profile
                        {% endif %}
                      </a></li>
                      <li class="nav-item"><a class="nav-link {% if request.resolver_match.url_name == 'research' %}active{% endif %}" href="{% url 'research' %}">Research</a></li>
                      <li class="nav-item"><a class="nav-link {% if request.resolver_match.url_name == 'participate' %}active{% endif %}" href="{% url 'participate' %}">Participate</a></li>
                  </ul>
              </div>
          </div>
      </nav>

      {% block precontent %}
      {% endblock %}

      {% block content %}
      {% endblock %}

    {% endblock %}

    {% block extra_body %}
      <!--
          Elements of the following code are derived from the Start Bootstrap - Business Frontpage v.5.0.7 Template.
          The template is licensed under MIT and can be found at https://github.com/StartBootstrap/startbootstrap-business-frontpage/blob/master/LICENSE.
      -->
      <!-- Footer-->
      <footer class="mt-auto py-3 bg-dark">
        <div class="container px-5">
          <p class="m-0 text-center text-white"> <a class="m-0 text-center text-white text-decoration-none" href="{% url 'working' %}"> Help </a></p>
          <p class="m-0 text-center text-white"> <a class="m-0 text-center text-white text-decoration-none" href="https://ceias.nau.edu/capstone/projects/CS/2022/SuperGeeks/"> About </a></p>
          <p class="m-0 text-center text-white"> <a class="m-0 text-center text-white text-decoration-none" href="https://github.com/NAU-SuperGeeks/geeksurvey"> Source Code </a></p>
          <p class="m-0 text-center text-white"> Copyright &copy; GeekSurvey 2022 </p>
        </div>
      </footer>
    {% endblock %}
  </body>
</html>
