{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>GeekSurvey</title>

<link rel="shortcut icon" href="{% static 'gkslogo.png' %}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


{% block extra_head %}
{% endblock %}

</head>

<body>
  {% block body %}

  <div class="crblock">
    <a href="/">
      <img class="corner_logo" src="{% static 'gkslogo.png' %}">
    </a>
    <h1 class="gs_title"> GeekSurvey </h1>
  <nav>
  <a href="/">Home</a>
  <a href="{% url 'profile' %}">Profile</a>
  <a href="">Research</a>
  <a href="{% url 'participate' %}">Participate</a>
  </nav>
  </div>

  <div class="crblock content">

  {% block precontent %}
  {% endblock %}

  {% block content %}
  {% endblock %}

  {% endblock %}

  {% block extra_body %}
  {% endblock %}
  </div>

  <div class="crblock bottom">
    <a href="working.html"> Help </a>
    <a href="https://ceias.nau.edu/capstone/projects/CS/2022/SuperGeeks/"> About </a>
    <a href="https://github.com/NAU-SuperGeeks/geeksurvey"> Source Code </a>
  </div>

</body>
</html>
