{% extends "base.html" %}

{% load static %}

{% block content %}

{% if user.is_authenticated %}
  <p>Hi {{ user.username }}!</p>
  <p><a href="{% url 'profile_update' %}">complete your profile</a></p>
  <p> <a href="{% url 'participate' %}"> find studies </a> </p>
  <p> <a href="{% url 'study_create' %}"> create a study </a> </p>
  <hr>
  <p> <a href="{% url 'account_logout' %}"> log out </a> </p>
{% else %}
<p> A tool for facilitating software engineering research. </p>
  <img class='fjord' src="{% static 'gs_fjord.png' %}">
  <br><br>
  <a href="{% url 'account_login' %}">log in</a><br>
  <a href="{% url 'account_signup' %}">sign up</a>
{% endif %}

{% endblock %}
