{% load static %}
<!DOCTYPE html>
<html>
<head>
<title> GeekSurvey </title>

<link rel="shortcut icon" href="{% static 'gkslogo.png' %}" type="image/x-icon">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>

  <img src="{% static 'gkslogo.png' %}" style="width:64px;">
  <h1> GeekSurvey </h1>
  <p> A tool for facilitating software engineering research. </p>
  <a href="#"> Get Started! </a>
  <hr>
  <h3> Data pulled from DB: </h3>
    {% if example_list %}
    <ul>
    {% for example in example_list%}
    <li><p>{{ example.example_text }}</p></li>
    {% endfor %}
    </ul>
    {% else %}
    <p>No data available.</p>
    {% endif %}
  <hr>


</body>

