{% extends "base.html" %}

{% load static %}

{% block content %}
<h1>Profile</h1>

{% if user.is_authenticated %}
  <p>Hi {{ user.username }}!</p>
  {% load socialaccount %}
  <img class="user-avatar" src="{% static 'geek_pfp.png' %}" />
  <p> {{ user }}</p>
  <hr>
  <p> <a href="{% url 'account_logout' %}"> log out </a> </p>
{% else %}
  <p>You're not logged in.</p>
  <a href="{% url 'account_login' %}">log in</a><br>
  <a href="{% url 'account_signup' %}">sign up</a>
{% endif %}

<hr>
<h3> Data pulled from DB: </h3>
  {% if example_list %}
  <ul>
  {% for example in example_list%}
  <li><p>{{ example.example_text }}</p></li>
  {% endfor %}
  </ul>
  {% else %}
  <p>No data available.</p>
  {% endif %}


{% endblock %}

