{% extends "base.html" %}

{% load static %}

{% block extra_head %}
  <meta name="description" content="Create groundbreaking studies with GeekSurvey! View and edit your existing studies."/>
  <meta name="author" content="SuperGeeks Team"/>
{% endblock %}

{% block content %}
  <h2> Research Dashboard </h2>
  <hr>
    <p> <a class="btn btn-primary" href="{% url 'study_create' %}"> Create a New Study </a> </p>
  <hr>
  <h3> Your Studies </h3>

  <div class="card-group">
  {% for study in studies %}

    <div class="card" style="max-width: 18rem;">
      <img src="{% static 'books.png' %}" class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title">{{study.title}}</h5>
        <p class="card-text">{{study.description}} </p>
        <p class="card-text">${{study.balance}} </p>
        <a href="{% url 'study_landing_page' study.id %}" class="btn btn-secondary">View</a>
        <a href="{% url 'study_edit' study.id %}" class="btn btn-primary">Edit</a>
        <br>
        <a style="margin-top:5px;" href="{% url 'study_funds' study.id %}" class="btn btn-success">Manage Funds</a>
        <br>
        <a style="margin-top:5px;" href="{% url 'study_delete' study.id %}" class="btn btn-danger">Delete</a>
      </div>
    </div>

  {% endfor %}
  </div>
{% endblock %}
