@media only screen and (max-width: 600px) {
  body {
    margin:auto;
    }   
  div.crblock {
    max-width:100% !important;
    }   
}

body {
  background-repeat:repeat;
  background-image:url("space.jpeg");
  background-color:#444;
}

div.crblock{
  background-color:white;
  padding:1em;
  max-width:70%;
  text-align:center;
  margin:auto;
  border-radius:1em;
  margin-bottom:1em;
}
form {
  text-align:left;
}
div.accounts_base{
  text-align:left;
}
button {
  padding:1em;
}

img.fjord {
  width:100%;
  border-radius:8px;
}

img.user-avatar {
  width:20%;
}

img.corner_logo {
  width:64px;
  height:64px;
  float:left;
}

h1.gs_title {
  margin:16px 15%;
}

nav {
  padding:4px;
  border-radius:4px;
}
nav a {
  display:inline-block;
  color:black;
  text-decoration:none;
  padding:.5em 1em;
  background:#ddd;
  border-radius:4px;
  margin:3px 0px;
}
nav a:hover {
  background:#bbb;
}

div.bottom {
  background-color:#222;
}
div.bottom a{
  color:grey;
  text-decoration:none;
  margin:0px 10px;
}
div.bottom a:hover{
  color:white;
  text-decoration:none;
  margin:0px 10px;
}

