{% extends "base.html" %}

{% load static %}

{% block extra_head %}
  <meta name="description" content="Log out or view and edit your profile."/>
  <style>
    .card-img-top {
      max-width:100px;
      max-height:100px;
    }
    .btn {
      margin:.5rem;
    }
  </style>
{% endblock %}

{% block content %}
<h1>Profile</h1>
<hr>
{% load socialaccount %}
<div class="card">
  <img src="{% static 'pfp_participant.png' %}" class="card-img-top" />
  <div class="card-body">
    <h5 class="card-title">{{ user.username }}</h5>
    <p class="card-text text-secondary">{{ user.email }} </p>
    <p class="card-text">{{ profile.bio }} </p>

    {% if not profile.updated_once %}
      <p>
        <span class="badge bg-warning">!</span>
        Don't forget to complete your profile!
      </p>
    {% endif %}
    <div class="btn-group">
      <a href="{% url 'profile_view' user.username %}" class="btn btn-secondary">View Full Profile</a>
    {% if not profile.updated_once %}
      <a href="{% url 'profile_update' %}" class="btn btn-warning">Complete Profile</a>
    {% else %}
      <a href="{% url 'profile_update' %}" class="btn btn-secondary">Edit Profile</a>
    {% endif %}
      <a href="{% url 'account_logout' %}" class="btn btn-danger">Log Out</a>
    </div>

    <hr>
    <p class="card-text">Balance: ${{ profile.balance }} </p>
    <div class="btn-group">
    <a href="{% url 'payments_fund' %}" class="btn btn-secondary">Add Funds</a>
    <a href="{% url 'payments_claim' %}" class="btn btn-secondary">Remove Funds</a>
    </div>
  </div>
</div>
{% endblock %}

