{% extends "base.html" %}

{% load static %}

{% block content %}
<h1>Profile</h1>
<hr>
<h2>{{ user.username }}</h2>
{% load socialaccount %}
<img class="user-avatar" src="{{ user.socialaccount_set.all.0.get_avatar_url }}" />
<img class="user-avatar" src="{% static 'pfp_participant.png' %}" />
<p> {{ profile.bio }}</p>
<hr>
<p> <a href="{% url 'profile_view' user.username %}"> view full profile </a> </p>
<p> <a href="{% url 'profile_update' %}"> edit profile</a> </p>
<p> <a href="{% url 'account_logout' %}"> log out </a> </p>

{% endblock %}

