{% extends "base.html" %}

{% load static %}

{% block extra_head %}
<style>
  .content {
    text-align:left !important;
  }
</style>

{% endblock %}

{% block content %}
  <h1> Study: {{study.title}} </h1>
  {% if request.user in study.enrolled.all %}
    <p> (You're enrolled in this study) </p>
  {% endif %}
  {% if request.user in study.completed.all %}
    <p> (You've completed this study) </p>
  {% endif %}
  <hr>
  <p> Description: {{study.description}} </p>
  <p> Owner: <a href="{% url 'profile_view' study.owner %}"> {{study.owner}} </a> </p>
  <p> Owner Bio: {{owner_profile.bio}} </p>
  <p> Enrolled:
    {% for enrolled_user in study.enrolled.all %}
    <a href="{% url 'profile_view' enrolled_user %}"> {{ enrolled_user }} </a>,
    {% endfor %}
  </p>
  <p> Completed:
    {% for completed_user in study.completed.all %}
    <a href="{% url 'profile_view' completed_user %}"> {{ completed_user }} </a>,
    {% endfor %}
  </p>

  {% if not request.user in study.enrolled.all %}
    <form action="{% url 'study_enroll' study.id %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="Enroll" />
    </form>
  {% else %}
    {% if not request.user in study.completed.all %}
      <p> (You're enrolled but still need to complete) </p>
      <a href="{% url 'study_complete' study.id %}">Complete this study</a>
    {% endif %}
  {% endif %}

{% endblock %}

