{% extends "base.html" %}

{% load static %}

{% block content %}

<h2> Studies </h2>

<div class="card-group">
{% for study in studies %}

    <div class="card" style="max-width: 18rem;">
      <img src="{% static 'books.png' %}" class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title">{{study.title}}</h5>
        <p class="card-text">{{ study.description}} </p>
        <p class="card-text">by @{{study.owner}} </p>
        <a href="{% url 'study_landing_page' study.id %}" class="btn btn-primary">View</a>
      </div>
    </div>

{% endfor %}
</div>

{% endblock %}
