{% extends "base.html" %}

{% load static %}

{% block extra_head %}
  <meta name="description" content="Discover studies that you are eligible for. Enroll in those that interest you!"/>
{% endblock %}

{% block content %}

  <h2> Study Discovery </h2>

  <div class="card-group">
  {% if studies|length == 0 %}
    <p class="text-secondary" style="margin-left:3em;">
    {% if profile != None and not profile.updated_once %}
      <span class="badge bg-warning">!</span>
      You need to complete your profile before you can enroll in studies!
    {% else %}
      Look's like there's nothing here!
    {% endif %}
    </p>
  {% endif %}
  {% for study in studies %}

      <div class="card" style="max-width: 18rem;">
        <img src="{% static 'books.png' %}" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title">{{study.title}}</h5>
          <p class="card-text">{{ study.description}} </p>
          <p class="card-text">by @{{study.owner}} </p>
          <a href="{% url 'study_landing_page' study.id %}" class="btn btn-primary">View</a>
        </div>
      </div>

  {% endfor %}
  </div>

{% endblock %}
