{% extends "base.html" %}

{% block extra_head %}
  <meta name="description" content="View your enrolled, completed, and potential studies."/>
{% endblock %}

{% block content %}

  <h2> Participation Dashboard </h2>
  <hr>

  <a class="btn btn-primary" href="{% url 'part_discover' %}"> Discover New Studies </a>
  <hr>
  <h3> Your Enrolled Studies </h3>

  {% if enrolled_studies|length == 0 %}
    <p class="text-secondary" style="margin-left:3em;">
      Look's like there's nothing here!
    </p>
  {% endif %}
  {% for study in enrolled_studies %}

    <p>
    <a class="btn btn-warning" href="{% url 'study_landing_page' study.id %}">
      {{study.title}}
    </a>
    </p>

  {% endfor %}

  <hr>
  <h3> Your Completed Studies </h3>

  {% if completed_studies|length == 0 %}
    <p class="text-secondary" style="margin-left:3em;">
      Look's like there's nothing here!
    </p>
  {% endif %}
  {% for study in completed_studies %}

    <p>
    <a class="btn btn-success" href="{% url 'study_landing_page' study.id %}">
      {{study.title}}
    </a>
    </p>

  {% endfor %}

{% endblock %}
