{% extends "base.html" %}

{% block content %}

<h2> Participation Dashboard </h2>

<a href="{% url 'part_discover' %}"> Discover New Studies </a>
<hr>
<h3> Your Enrolled Studies </h3>

{% for study in enrolled_studies %}

  <p>
  <a href="{% url 'study_landing_page' study.id %}">  
    {{study.title}}
  </a>
  </p>

{% endfor %}

<hr>
<h3> Your Completed Studies </h3>

{% for study in completed_studies %}

  <p>
  <a href="{% url 'study_landing_page' study.id %}">  
    {{study.title}}
  </a>
  </p>

{% endfor %}

{% endblock %}
